*.db
*.def
*.dll
*.filters
*.ipch
*.lib
*.log
*.map
*.obj
*.opendb
*.tlog
*.user
*.vcproj
*.vcxproj
examples/
ReadMe.rtf
src/.vs/
src/Backup/
src/DebugDLL/
src/game/DebugDLL/
src/game/ReleaseDLL/
src/idLib/DebugDLL/
src/idLib/ReleaseDLL/
src/ipch/
src/ReleaseDLL/
src/UpgradeLog.htm
*.rtf#
Prey.exe Hooking.txt
DevNotes.txt
Changelog.txt
