*.db
*.def
*.dll
*.ipch
*.lib
*.log
*.map
*.obj
*.opendb
*.tlog
*.rtf#
examples/
src/.vs/
src/game/build/
src/idLib/DebugDLL/
src/idLib/ReleaseDLL/
src/ipch/
src/ReleaseDLL/
build/
Prey.exe Hooking.txt
DevNotes.txt
Changelog.txt
ReadMe.rtf