name: Build

on: [push, pull_request]

jobs:
  Build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: ["windows-2022", "windows-2025"]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install cmake
        uses: lukka/get-cmake@v4.2.1

      - name: Setup msvc dev
        uses: ilammy/msvc-dev-cmd@v1.13.0

      - name: Configure build directory
        run: |
          mkdir build
          cd build
          cmake -DCMAKE_VERBOSE_MAKEFILE=ON -A Win32 ..

      - name: Build Debug
        shell: bash
        run: |
          cd build

          cmake .. -DCMAKE_BUILD_TYPE=Debug
          cmake --build . --config "Debug" --clean-first

      - name: Build DebugPreyRun
        run: |
          cd build
          cmake .. -DCMAKE_BUILD_TYPE=DebugPreyRun
          cmake --build . --config "DebugPreyRun" --clean-first

      - name: Build Release
        run: |
          cd build
          cmake .. -DCMAKE_BUILD_TYPE=Release
          cmake --build . --config "Release" --clean-first
